
html,
body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e3e3e3;
    text-align: center;
}

body {
    background-color: #1e1e1e;
}

h1 {
    text-align: center;
    background: #7317b1;
    padding: 8px;
    color: #ffff23;
}

div.data {
    padding: 16px;
}

div#errorBox {
    position: fixed;
    padding: 0px;
    bottom: 16px;
    right: 16px;
    width: 256px;
    height: max-content;
    text-align: center;
    background: rgb(128, 9, 3);
}

div#errorBox:hover {
    background-color: rgba(128, 9, 3, 0.2);
    color: rgba(227, 227, 227, 0.2);
}

div.monotable {
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    letter-spacing: 8px;
}

div.answer {
    color: #ff4040;
    font-size: 32px;
}

textarea {
    width: 512px;
    height: 256px;
    font-size: 24px;
    font-family: Courier New, Courier, monospace;
}

textarea.answer {
    background: #3c3c3c;
    color: #ff4040;
}

textarea#des_source {
    height: 128px;
}

input[type="text"] {
    text-align: center;
}

input#des_key {
    width: 512px;
}
